@import url("./something.css");

body {
  margin: 0;
  font-family: "Space Mono", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.Header {
  overflow: hidden;
}

.Header-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

.Header-menu {
  display: flex;
  align-items: center;
}

.Header-left {
}

.Header-logo {
}
.Header-logo img {
  height: 51px;
  object-fit: contain;
}

.Header-right {
  display: flex;
  align-items: center;
}
.Header-menu-item {
  list-style: none;
  padding-top: 15px;
}
.Header-menu-link {
  transition: 500ms;
  color: rgb(127, 127, 127);
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Header-menu-link::after {
  margin-top: 10px;
  content: "";
  height: 3px;
  width: calc(100% + 10px);
  display: block;
  opacity: 0;
  background-color: rgb(74, 80, 187);
}

.Header-menu-link:hover {
  color: rgb(74, 80, 187);
}

.Header-menu-link:hover::after {
  opacity: 1;
  transition: 500ms;
}
.Header-menu-button {
  font-size: 12px;
  text-decoration: none;
  border: 2px solid rgb(74, 80, 187);
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
}

.Header-menu-button:hover {
  transition: 500ms;
  background-color: transparent;
  color: rgb(74, 80, 187);
}

.Footer {
  overflow: hidden;
}
.Footer-in {
  display: flex;
}
.Footer-form {
  padding: 50px 100px;
  width: 32%;
  background-color: rgb(74, 80, 187);
}

.Footer-form-text h6 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.Footer-form-text p {
  color: white;
  max-width: 500px;
  line-height: 160%;
  font-size: 16px;
  margin: 0px 0px 20px;
  font-weight: 300;
}
.Footer-form-item {
  margin-bottom: 20px;
}
.Footer-form-item label {
  color: white;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}
.Footer-form-item input {
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  width: 100%;
}
.Footer-form-item textarea {
  height: 160px;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  width: 100%;
}
.Footer-form button {
  display: inline-flex;
  font-size: 12px;
  text-decoration: none;
  background-color: white;
  color: rgb(45, 48, 55);
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  height: 41px;
  transition: 500ms;
}
.Footer-form button:hover {
  background-color: rgb(74, 80, 187);
  color: white;
  border-color: white;
  transition: 500ms;
}
.Footer-map {
  padding-left: 50px;
  width: 68%;
}
.Footer-map img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.Footer-bottom {
  padding: 50px 20px;
}
.Footer-bottom h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: center;
}
.Footer-bottom p {
  color: rgb(45, 48, 55);
  text-align: center;
  line-height: 160%;
  font-size: 16px;
  margin: 0px;
  font-weight: 300;
}

.Footer-bottom-social {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer-bottom-social-item {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
